/* 폰트적용 */
@font-face {
  font-family: "LeferiBaseType-RegularA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "LeferiBaseType-RegularA";
}

/*커스텀 라이브러리*/
* {
  padding: 0;
  margin: 0;
}

.con {
  width: 1920px;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 1900px) {
  body {
    overflow-x: hidden;
  }
}

/*뜨는애니메이션 라이브러리*/

.main-1,
.main-2 {
  animation-name: infinite-01;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes infinite-01 {
  0% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-20%);
  }

  100% {
    transform: translatey(0);
  }
}

/*branding-1*/

.branding-1 {
 background-color:#F62F68;
  width: 1920px;
  height: 1080px;
}

/*branding-menu*/
.branding-menu-logo-2 {
  left: 100px;
  top: 32px;
}
.main-menu-branding {
  left: 526px;
  top: 40px;
}

.branding-menu-about {
  left: 721px;
  top: 40px;
}
.branding-menu-portfolio {
  left: 885px;
  top: 40px;
}
.branding-menu-process {
  left: 1090px;
  top: 40px;
}
.branding-menu-experience {
  left: 1278px;
  top: 40px;
}

/*branding-img-box*/

.branding1-img-box-1 {
  left: 745px;
  top: 441px;
}

.branding1-img-box-2 {
  left: 1110px;
  top: 680px;
}

/*branding-2*/

.branding-2 {
  width: 1920px;
  height: 277px;
  background-color: #F6F6F6;
}
.branding-2-text {
  left: 200px;
  top: 1187px;
}

/*branding-3*/
.branding-3 {
  background-color:#FFFFFF;
  width: 1920px;
  height: 1654px;
  z-index: -1999;
}

.branding-3-img-logo {
  top: 107px;
  left: 0px;
}

.branding-3-t-1 {
  left: 371px;
  top: 323px;
}

.branding-3-t-2 {
  left: 443.5px;
  top: 640px;
}

.branding-3-b-2{
  left: 371.5px;
  top: 934px;
}

.branding-3-b-1{
  left: 443.5px;
  top: 1292px;
}


/*branding-4*/
.branding-4{
  background-color:#F4F4F4;
  width:1920px;
  height:927px;
}
.branding-4-img-box-text{
 
left: 347px;
top: 100px;
}

.branding-4-img-box-1{
  left:334px;
  top:390px;
  
}


/*branding-5*/

.branding-5{

background-color:FCFCFC;
  width:1920px;
  height:1350px;
}

.branding-5-img-box-text{
  left:200px;
  top:119px;
}

.branding-5-img-box-1{
  left:200px;
  top:408px;
}

.branding-5-img-box-2{
  left:200px;
  top:614px;
}

.branding-5-img-box-3{
  left:200px;
  top:917px;
}


/*branding-6*/
.branding-6{
  background-color:#F3F3F3;
  width:1920px;
  height:600px;
}

.branding-6-text{
    left:311px;
  top:40px;
}

.branding-6-img-1{
  left:786px;
  top:182.4px;
}
.branding-6-img-2{
    left:523px;
  top:361px;
}

.branding-6-img-3{
    left:289px;
  top:264px;
}

/*branding-7*/

.branding-7{
  background-image:url('https://cdn.jsdelivr.net/gh/chaeryeong1/portfolio_img/portfolio/branding/branding-7-bg.png');
   width:1920px;
  height:645px;
}

/*branding-7*/

.branding-7-logo-1{
  
  top:125px;
  left:275px;
  
}
.branding-7-logo-2{
  
  top:167px;
  left:1295px;
  
}

.see-me-about{
  background-image:url('https://cdn.jsdelivr.net/gh/chaeryeong1/portfolio_img/portfolio/branding/Rectangle 82.png');
  width:1920px;
  height:300px;
}
.see-me-about-button{
  left:800px;
  top:86px;
}